h1 {
  color: aliceblue;
  text-align: center;
  padding: 20px;
  font-size: 40px;  
  font-weight: 400;
}
.card {
  background-color: orange;
  border: 10px solid green;
  padding: 20px;
  margin: auto;
  margin-bottom: 40px;
  text-align: center;   
  width: 60%;   
}
#author {
  text-align: end;
 }