<div class="container-fluid">
  <h2 class="text-center">New Quote</h2>
  <hr>
  <form (ngSubmit)='submitQuote()' #QuoteForm='ngForm'>
    <div class="form-group">
      <label for="quotetext">Quote</label>
      <textarea class="form-control" id="quotetext" rows="4" [(ngModel)]="newQuote.quotetext" name="quotetext" #quotetext='ngModel' required></textarea>
      <div [hidden]="quotetext.pristine" class="alert alert-danger">
        <p>Quote is required</p>
      </div>
    </div>

    <div class="form-group">
      <label for="author">Author</label>
      <input type="text" required class="form-control" id="author" [(ngModel)]="newQuote.author" name="author" #author='ngModel' required>
      <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
        <p>Author is required</p>
      </div>
    </div>

    <div class="form-group">
      <label for="editor">Editor</label>
      <input type="text" required class="form-control" id="editor" [(ngModel)]="newQuote.editor" name="editor" #editor='ngModel' required>
      <div [hidden]="editor.valid || editor.pristine" class="alert alert-danger">
        <p>Editor is required</p>
      </div>
    </div>

    <!-- <div class="form-group">
      <label for="published">Input Date</label>
      <input type='date' id="published">
    </div> -->

    <button type="submit" class="btn btn-success">Add Quote</button>
    </form>
  </div>
